@use "header";
@use "fonts";
@use "variables";
@use "main";
@use "prices";
@use "turnkey";
@use "results";
@use "feedback";
@use "video";
@use "badge";
@use "everything";
@use "articles";
@use "specialists";
@use "about";
@use "license";
@use "path";
@use "faq";
@use "quiz";
@use "footer";
@use "preparation";
@use "promotion";
@use "details";

html, body {
    font-family: "Manrope";
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    color: variables.$text-dark-blue;
    margin: 0;
}

h1 {
    font-size: variables.$h1;
}

h2 {
    font-size: variables.$h2;
}

h3 {
    font-size: variables.$h3;
}

h4 {
    font-size: variables.$h4;
}

p {
    margin: 0;
}

a {
    color: variables.$text-beige;
    font-weight: 600;
    transition: color 0.3s;
    cursor: pointer;

    &:hover {
        color: variables.$text-black;
    }
}

button {
    font-family: "Manrope";
    background-color: variables.$text-beige;
    border-radius: 30px;
    border: none;
    color: variables.$text-white;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        background-color: variables.$text-white;
        color: variables.$text-beige;
    }
}

.bold {
    font-weight: 700;
}

.container {
    width: 100%;
    max-width: 1410px;
    margin: 0 auto;

    @media (max-width: 768px) {
        padding: 0;
        max-width: 100%;
    }
}