.modal {
    position: fixed;
    inset: 0;
    z-index: 9999;

    display: none;
    justify-content: center;
    align-items: center;
}

.modal.is-open {
    display: flex;
}

.modal__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.5);
    overflow: hidden;
}

.modal__content {
    position: relative;
    background: #fff;

    width: min(1200px, 95vw);
    max-height: 90vh;

    border-radius: 16px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.modal__body {
    display: flex;
    overflow: hidden;
}

.modal__photo {
    flex: 0 0 40%;
    padding: 24px;

    display: flex;
    flex-direction: column;
    gap: 20px;

    overflow-y: auto;
}

.modal__photo img {
    width: 100%;
    aspect-ratio: 3 / 4;
    object-fit: cover;
    border-radius: 12px;
}

.modal__info {
    flex: 1;
    padding: 32px;
    overflow-y: auto;
}

.modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
    background-color: #fff;
    color: #000;
}

@media (max-width: 768px) {
    .modal__body {
        flex-direction: column;
    }

    .modal__photo {
        flex: none;
        padding: 16px;
    }

    .modal__photo img {
        aspect-ratio: 1 / 1;

        &:first-child {
            display: none;
        }
    }

    .modal__info {
        padding: 16px;
    }
}