@use "variables";

.feedback {
    padding: 120px 0 80px 0;

    &__buttons {
        display: flex;
        gap: 20px;
        margin: 50px 0 30px 0;

        button {
            margin-left: auto;
            width: 15%;
        }
    }

    &__services {
        display: flex;
        font-size: 18px;
        gap: 5px;
        border: 1px solid variables.$text-dark-blue;
        border-radius: 5px;
        padding: 15px 20px;
    }

    &__card {
        border: 1px solid rgba(21, 36, 48, 0.4);
        border-radius: 20px;
    }
}