@use "variables";

.preparation {
    padding: 120px 0;

    .prices__buttons {
        margin: 50px 0 40px 0;
        .active {
            background-color: variables.$text-dark-blue; 
            color: variables.$text-white; 
            font-weight: 500;
        }
        button:last-child {
            margin-left: 0;
            border-radius: 5px;
            padding: 15px;
            background-color: #fff;
            border: 1px solid #152430;
            color: #152430;

            &:active { 
                background-color: variables.$text-dark-blue !important; 
            } 

            &:hover { 
                background-color: variables.$text-white; 
                color: variables.$text-beige; 
            } 
        }
    }

    &__bid {
        display: flex;
        background-color: rgba(21, 36, 48, 0.15);
        padding: 20px 45px;
        border-radius: 20px;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;

        button {
            padding: 15px 30px;
        }

        @media (max-width: 768px) {
            flex-direction: column;
            text-align: center;
            gap: 10px;
            padding: 20px;

            h4 {
                font-size: 20px;
            }
        }
    }
}