@use "variables";

.prices {
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__buttons { 
        display: flex; 
        gap: 20px; 
        margin-top: 20px; 

        button { 
            border-radius: 5px; 
            padding: 15px; 
            background-color: #fff; 
            border: 1px solid variables.$text-dark-blue; 
            color: variables.$text-dark-blue; 

            &:active { 
                background-color: variables.$text-dark-blue; 
            } 

            &:last-child { 
                margin-left: auto; 
                background-color: variables.$text-beige; 
                border-radius: 30px; 
                border: none; 
                color: variables.$text-white; 

                &:hover { 
                    background-color: variables.$text-white; 
                    color: variables.$text-beige; 
                } 
            } 
        }
    }

    &__table-wrapper {
        border-radius: 20px;
        overflow: hidden;
        border: 1px solid rgba(21, 36, 48, 0.15);
        background: #fff;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;
        font-size: 16px;
        color: variables.$text-black;
        background-color: #fff;

        thead th {
            background-color: rgba(21, 36, 48, 0.15);
            padding: 18px 20px;
            text-align: center;
            font-weight: 600;

            &:first-child {
                text-align: left;
            }
        }

        tbody td {
            padding: 24px 20px;
            border-bottom: 1px solid rgba(21, 36, 48, 0.15);
        }

        tbody tr {
            color: variables.$text-dark-blue;
                
            button {
                float: right;
                padding: 12px 25px;
            }
        }

        .bold,
        .installment {
            font-weight: 700;
            text-align: center;
        }
    }

    &__bid {
        background-color: rgba(21, 36, 48, 0.15);
        border-radius: 20px;
        padding: 40px 30px;

        span {
            font-weight: 700;
        }

        button {
            padding: 12px 25px;
        }
    }

    &__form {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .form {
            display: flex;
            gap: 20px;
        }

        input {
            padding: 16px;
            border: 1px solid rgba(21, 36, 48, 0.4);
            border-radius: 5px;
        }
    }

    &__submit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 22px;
    }

    &__block {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}